.background-grosaille {
  width: 513px;
  height: 579px;
  flex-shrink: 0;
  margin-top: -140px;
}

.background-stone {
  width: 1564px;
  height: 295px;
  flex-shrink: 0;
  margin-top: -20px;
  margin-left: 330px;
}

.background-paralax {
  width: 20%;
}

.background-cloud {
  margin-left: 1225px;
  margin-top: -846px;
  width: 1460px;
  height: 881px;
  flex-shrink: 0;
}

.background-tree {
  margin-left: 2650px;
  margin-top: -885;
}
