.background-paralax {
  width: 20%;
}

.background-present-last-baron {
  background-image: url(/src/img/image-site-web/image-detourer-final/image-transition/fond-transition-present-final.png);
}

.background-baron-last-present {
  background-image: url(/src/img/image-site-web/image-detourer-final/image-transition/laste-background-present-2.png);
  background-repeat: no-repeat;
}
