.book-buy-part {
  margin-top: 390px;
  margin-left: 60px;
  margin-right: 60px;
}

.book-second-tittle {
  position: absolute;
  margin-left: 490px;
  margin-top: -95px;
  color: #e7364d;
  font-family: "Basic Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.book-information {
  color: #e7364d;
  font-family: "Basic Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
